In [23]:
# Importing libraries
import pandas as pd

In [24]:
# 불량량 Loading
Defect_WT = pd.read_csv('S300_scrap_output_hangul4.csv', encoding='cp949')
Defect_WT.head()

,년월일,업무구분,공장구분,HEAT_NO,LOT_NO,PON,공정순위,주조구분,재료코드,강종그룹,...,압연일자4,압연외경4,압연폭4,최종압연공정,최종압연일자,제품압연작업조,생성일시,HCR,투입중량,주설비구분
0,2023-01-27,2,9,S52724,B310258804,D23W1W0873,90,T,7730,SSA,...,NaN,0,0,8100,2023-01-26,A,2023-02-02,NaN,NaN,C
1,2023-01-30,2,9,S51746,B2A0679502,D23W1W1011,80,T,7730,SSM,...,NaN,0,0,8100,2023-01-27,A,2023-02-02,NaN,NaN,C
2,2023-01-28,2,9,S52461,B2C0715801,D23W1W1193,70,T,7730,SSA,...,NaN,0,0,8100,2023-01-24,B,2023-02-02,NaN,NaN,C
3,2023-01-28,2,9,S52727,B310330003,D23W1W1160,90,T,7730,SSA,...,NaN,0,0,8100,2023-01-27,B,2023-02-02,NaN,NaN,C
4,2023-06-23,2,9,S54210,B350375501,D23W5W1348,82,T,7730,SSM,...,NaN,0,0,8100,2023-05-28,A,2023-07-04,NaN,NaN,C

In [25]:
# 중강종 파생변수 생성코드
Defect_WT['중강종'] = Defect_WT['강종그룹'].str[0:2]
# STEEL_GROUP_L는 Steel Grade 컬럼 앞에 배치
position = Defect_WT.columns.get_loc('강종그룹')
Defect_WT.insert(position, '중강종', Defect_WT.pop('중강종'))
Defect_WT.head()
#print(Defect_WT['중강종'])

,년월일,업무구분,공장구분,HEAT_NO,LOT_NO,PON,공정순위,주조구분,재료코드,중강종,...,압연일자4,압연외경4,압연폭4,최종압연공정,최종압연일자,제품압연작업조,생성일시,HCR,투입중량,주설비구분
0,2023-01-27,2,9,S52724,B310258804,D23W1W0873,90,T,7730,SS,...,NaN,0,0,8100,2023-01-26,A,2023-02-02,NaN,NaN,C
1,2023-01-30,2,9,S51746,B2A0679502,D23W1W1011,80,T,7730,SS,...,NaN,0,0,8100,2023-01-27,A,2023-02-02,NaN,NaN,C
2,2023-01-28,2,9,S52461,B2C0715801,D23W1W1193,70,T,7730,SS,...,NaN,0,0,8100,2023-01-24,B,2023-02-02,NaN,NaN,C
3,2023-01-28,2,9,S52727,B310330003,D23W1W1160,90,T,7730,SS,...,NaN,0,0,8100,2023-01-27,B,2023-02-02,NaN,NaN,C
4,2023-06-23,2,9,S54210,B350375501,D23W5W1348,82,T,7730,SS,...,NaN,0,0,8100,2023-05-28,A,2023-07-04,NaN,NaN,C

In [26]:
# 대강종 파생변수 생성코드
Defect_WT['대강종'] = Defect_WT['강종그룹'].str[0]
# 대강종은 중강종 컬럼 앞에 배치
position = Defect_WT.columns.get_loc('중강종')
Defect_WT.insert(position, '대강종', Defect_WT.pop('대강종'))
Defect_WT.head()

,년월일,업무구분,공장구분,HEAT_NO,LOT_NO,PON,공정순위,주조구분,재료코드,대강종,...,압연일자4,압연외경4,압연폭4,최종압연공정,최종압연일자,제품압연작업조,생성일시,HCR,투입중량,주설비구분
0,2023-01-27,2,9,S52724,B310258804,D23W1W0873,90,T,7730,S,...,NaN,0,0,8100,2023-01-26,A,2023-02-02,NaN,NaN,C
1,2023-01-30,2,9,S51746,B2A0679502,D23W1W1011,80,T,7730,S,...,NaN,0,0,8100,2023-01-27,A,2023-02-02,NaN,NaN,C
2,2023-01-28,2,9,S52461,B2C0715801,D23W1W1193,70,T,7730,S,...,NaN,0,0,8100,2023-01-24,B,2023-02-02,NaN,NaN,C
3,2023-01-28,2,9,S52727,B310330003,D23W1W1160,90,T,7730,S,...,NaN,0,0,8100,2023-01-27,B,2023-02-02,NaN,NaN,C
4,2023-06-23,2,9,S54210,B350375501,D23W5W1348,82,T,7730,S,...,NaN,0,0,8100,2023-05-28,A,2023-07-04,NaN,NaN,C

In [27]:
#외경구분
Defect_WT['외경구분'] = Defect_WT['외경'].apply(lambda x: 'Ø15~25' if x <= 25.5 else 'Ø26~36')
position = Defect_WT.columns.get_loc('외경')
Defect_WT.insert(position, '외경구분', Defect_WT.pop('외경구분'))
Defect_WT.head()
#print(Defect_WT)

,년월일,업무구분,공장구분,HEAT_NO,LOT_NO,PON,공정순위,주조구분,재료코드,대강종,...,압연일자4,압연외경4,압연폭4,최종압연공정,최종압연일자,제품압연작업조,생성일시,HCR,투입중량,주설비구분
0,2023-01-27,2,9,S52724,B310258804,D23W1W0873,90,T,7730,S,...,NaN,0,0,8100,2023-01-26,A,2023-02-02,NaN,NaN,C
1,2023-01-30,2,9,S51746,B2A0679502,D23W1W1011,80,T,7730,S,...,NaN,0,0,8100,2023-01-27,A,2023-02-02,NaN,NaN,C
2,2023-01-28,2,9,S52461,B2C0715801,D23W1W1193,70,T,7730,S,...,NaN,0,0,8100,2023-01-24,B,2023-02-02,NaN,NaN,C
3,2023-01-28,2,9,S52727,B310330003,D23W1W1160,90,T,7730,S,...,NaN,0,0,8100,2023-01-27,B,2023-02-02,NaN,NaN,C
4,2023-06-23,2,9,S54210,B350375501,D23W5W1348,82,T,7730,S,...,NaN,0,0,8100,2023-05-28,A,2023-07-04,NaN,NaN,C

In [28]:
# Year Month Date' 열을 datetime 형식으로 변환
Defect_WT['최종압연일자'] = pd.to_datetime(Defect_WT['최종압연일자'])

#압연월 구분
Defect_WT['압연월'] = Defect_WT['최종압연일자'].dt.month
#Defect_WT['압연월'] = Defect_WT['압연월'].fillna("", inplace=True)  # Fill missing values with "" (or any other appropriate value)

# 압연월은 년월 컬럼 앞에 배치
position = Defect_WT.columns.get_loc('년월일')
Defect_WT.insert(position, '압연월', Defect_WT.pop('압연월'))
Defect_WT.head()

,압연월,년월일,업무구분,공장구분,HEAT_NO,LOT_NO,PON,공정순위,주조구분,재료코드,...,압연일자4,압연외경4,압연폭4,최종압연공정,최종압연일자,제품압연작업조,생성일시,HCR,투입중량,주설비구분
0,1,2023-01-27,2,9,S52724,B310258804,D23W1W0873,90,T,7730,...,NaN,0,0,8100,2023-01-26,A,2023-02-02,NaN,NaN,C
1,1,2023-01-30,2,9,S51746,B2A0679502,D23W1W1011,80,T,7730,...,NaN,0,0,8100,2023-01-27,A,2023-02-02,NaN,NaN,C
2,1,2023-01-28,2,9,S52461,B2C0715801,D23W1W1193,70,T,7730,...,NaN,0,0,8100,2023-01-24,B,2023-02-02,NaN,NaN,C
3,1,2023-01-28,2,9,S52727,B310330003,D23W1W1160,90,T,7730,...,NaN,0,0,8100,2023-01-27,B,2023-02-02,NaN,NaN,C
4,5,2023-06-23,2,9,S54210,B350375501,D23W5W1348,82,T,7730,...,NaN,0,0,8100,2023-05-28,A,2023-07-04,NaN,NaN,C

In [29]:
#압연년 구분
Defect_WT['압연년'] = Defect_WT['최종압연일자'].dt.year
#Defect_WT['압연년'] = Defect_WT['압연년'].fillna("", inplace=True)  # Fill missing values with "" (or any other appropriate value)

# 압연년은 압연월 컬럼 앞에 배치
position = Defect_WT.columns.get_loc('압연월')
Defect_WT.insert(position, '압연년', Defect_WT.pop('압연년'))
Defect_WT.head()

,압연년,압연월,년월일,업무구분,공장구분,HEAT_NO,LOT_NO,PON,공정순위,주조구분,...,압연일자4,압연외경4,압연폭4,최종압연공정,최종압연일자,제품압연작업조,생성일시,HCR,투입중량,주설비구분
0,2023,1,2023-01-27,2,9,S52724,B310258804,D23W1W0873,90,T,...,NaN,0,0,8100,2023-01-26,A,2023-02-02,NaN,NaN,C
1,2023,1,2023-01-30,2,9,S51746,B2A0679502,D23W1W1011,80,T,...,NaN,0,0,8100,2023-01-27,A,2023-02-02,NaN,NaN,C
2,2023,1,2023-01-28,2,9,S52461,B2C0715801,D23W1W1193,70,T,...,NaN,0,0,8100,2023-01-24,B,2023-02-02,NaN,NaN,C
3,2023,1,2023-01-28,2,9,S52727,B310330003,D23W1W1160,90,T,...,NaN,0,0,8100,2023-01-27,B,2023-02-02,NaN,NaN,C
4,2023,5,2023-06-23,2,9,S54210,B350375501,D23W5W1348,82,T,...,NaN,0,0,8100,2023-05-28,A,2023-07-04,NaN,NaN,C

In [30]:
#압연 년월을 압연 Roll 단위 구분
Defect_WT['압연일'] = Defect_WT['최종압연일자'].dt.day
#efect_WT['압연일'] = Defect_WT['압연일'].fillna("", inplace=True)  # Fill missing values with "" (or any other appropriate value)
character = "-"

def Roll_Mth(row):
    if pd.notna(row['압연일']):
        if row['압연일'] > 10:
            return row['압연월']
        else:
            return row['압연월'] - 1
    else:
        return ""
    
Defect_WT['Roll_Mth'] = Defect_WT.apply(Roll_Mth, axis=1)

# Roll_Mth은 R_Year 컬럼 앞에 배치
position = Defect_WT.columns.get_loc('압연년')
Defect_WT.insert(position, 'Roll_Mth', Defect_WT.pop('Roll_Mth'))

Defect_WT['Roll_Yr_Mth'] = Defect_WT['압연년'].astype(str) + character + Defect_WT['Roll_Mth'].astype(str)

# Check if '압연년' or 'Roll_Mth' is empty and replace 'Roll_Yr_Mth' with a blank space
#mask = (Defect_WT['압연년'] == "") | (Defect_WT['Roll_Mth'] == "")
#Defect_WT.loc[mask, 'Roll_Yr_Mth'] = ""

# Roll_Yr_Mth은 Roll_Mth 컬럼 앞에 배치
position = Defect_WT.columns.get_loc('Roll_Mth')
Defect_WT.insert(position, 'Roll_Yr_Mth', Defect_WT.pop('Roll_Yr_Mth'))

Defect_WT.head()
#print(Defect_WT['Roll_Yr_Mth'])

,Roll_Yr_Mth,Roll_Mth,압연년,압연월,년월일,업무구분,공장구분,HEAT_NO,LOT_NO,PON,...,압연외경4,압연폭4,최종압연공정,최종압연일자,제품압연작업조,생성일시,HCR,투입중량,주설비구분,압연일
0,2023-1,1,2023,1,2023-01-27,2,9,S52724,B310258804,D23W1W0873,...,0,0,8100,2023-01-26,A,2023-02-02,NaN,NaN,C,26
1,2023-1,1,2023,1,2023-01-30,2,9,S51746,B2A0679502,D23W1W1011,...,0,0,8100,2023-01-27,A,2023-02-02,NaN,NaN,C,27
2,2023-1,1,2023,1,2023-01-28,2,9,S52461,B2C0715801,D23W1W1193,...,0,0,8100,2023-01-24,B,2023-02-02,NaN,NaN,C,24
3,2023-1,1,2023,1,2023-01-28,2,9,S52727,B310330003,D23W1W1160,...,0,0,8100,2023-01-27,B,2023-02-02,NaN,NaN,C,27
4,2023-5,5,2023,5,2023-06-23,2,9,S54210,B350375501,D23W5W1348,...,0,0,8100,2023-05-28,A,2023-07-04,NaN,NaN,C,28

In [31]:
# Check if 'Roll_Mth' is empty and replace 'Roll_분기' with a blank space
mask = Defect_WT['Roll_Mth'] == ""
Defect_WT.loc[mask, 'Roll_분기'] = ""

# Calculate 'Roll_분기' for rows with non-empty 'Roll_Mth'
mask = Defect_WT['Roll_Mth'] != ""
Defect_WT.loc[mask, 'Roll_분기'] = Defect_WT.loc[mask, 'Roll_Mth'].apply(lambda month: '1Q' if month <= 3 else '2Q' if month <= 6 else '3Q' if month <= 9 else '4Q')

# R_Quarter은 Roll_Yr_Mth 컬럼 앞에 배치
position = Defect_WT.columns.get_loc('Roll_Yr_Mth')
Defect_WT.insert(position, 'Roll_분기', Defect_WT.pop('Roll_분기'))

Defect_WT.head()
#print(Defect_WT['R_Quarter'])

,Roll_분기,Roll_Yr_Mth,Roll_Mth,압연년,압연월,년월일,업무구분,공장구분,HEAT_NO,LOT_NO,...,압연외경4,압연폭4,최종압연공정,최종압연일자,제품압연작업조,생성일시,HCR,투입중량,주설비구분,압연일
0,1Q,2023-1,1,2023,1,2023-01-27,2,9,S52724,B310258804,...,0,0,8100,2023-01-26,A,2023-02-02,NaN,NaN,C,26
1,1Q,2023-1,1,2023,1,2023-01-30,2,9,S51746,B2A0679502,...,0,0,8100,2023-01-27,A,2023-02-02,NaN,NaN,C,27
2,1Q,2023-1,1,2023,1,2023-01-28,2,9,S52461,B2C0715801,...,0,0,8100,2023-01-24,B,2023-02-02,NaN,NaN,C,24
3,1Q,2023-1,1,2023,1,2023-01-28,2,9,S52727,B310330003,...,0,0,8100,2023-01-27,B,2023-02-02,NaN,NaN,C,27
4,2Q,2023-5,5,2023,5,2023-06-23,2,9,S54210,B350375501,...,0,0,8100,2023-05-28,A,2023-07-04,NaN,NaN,C,28

In [32]:
# 1,433처럼 중량에 콤마가 있는 Object는 콤마를 제거 후 숫자로 변환해야 함.
Defect_WT['발생중량'] = Defect_WT['발생중량'].str.replace(',', '').astype(int)
#Data_type = Defect_df['발생중량'].dtypes
#print(Data_type)

Defect_WT.head()

,Roll_분기,Roll_Yr_Mth,Roll_Mth,압연년,압연월,년월일,업무구분,공장구분,HEAT_NO,LOT_NO,...,압연외경4,압연폭4,최종압연공정,최종압연일자,제품압연작업조,생성일시,HCR,투입중량,주설비구분,압연일
0,1Q,2023-1,1,2023,1,2023-01-27,2,9,S52724,B310258804,...,0,0,8100,2023-01-26,A,2023-02-02,NaN,NaN,C,26
1,1Q,2023-1,1,2023,1,2023-01-30,2,9,S51746,B2A0679502,...,0,0,8100,2023-01-27,A,2023-02-02,NaN,NaN,C,27
2,1Q,2023-1,1,2023,1,2023-01-28,2,9,S52461,B2C0715801,...,0,0,8100,2023-01-24,B,2023-02-02,NaN,NaN,C,24
3,1Q,2023-1,1,2023,1,2023-01-28,2,9,S52727,B310330003,...,0,0,8100,2023-01-27,B,2023-02-02,NaN,NaN,C,27
4,2Q,2023-5,5,2023,5,2023-06-23,2,9,S54210,B350375501,...,0,0,8100,2023-05-28,A,2023-07-04,NaN,NaN,C,28

In [33]:
# 엑셀 파일로 저장
# pip install openpyxl 사전 설치 필요
output_path = 'preprocessed_scrap_data4.xlsx'  # 저장할 파일 경로와 이름
Defect_WT.to_excel(output_path, index=False)  # index=False로 설정하여 인덱스를 엑셀에 포함하지 않음