In [1]:
a=3
b=4

print(a+b)

7

In [2]:
print(a*b)

12

In [3]:
print(a/b)

0.75

In [4]:
print(a//b)

0

In [5]:
print(a%b)

3

In [6]:
print(3**4)

81

In [7]:
a="hello world"

In [8]:
print(a)

hello world

In [9]:
print(type(a))

<class 'str'>

In [10]:
a='python\'s test'

In [11]:
a

"python's test"

In [12]:
print(a)

python's test

In [13]:
a= 'python '
b='is fun!'
print(a+b)

python is fun!

In [14]:
a

'python '

In [15]:
print('='*50)
print('My program')
print('='*50)

==================================================
My program
==================================================

In [16]:
a="Life is too short"
print(a.split())

['Life', 'is', 'too', 'short']

In [17]:
print(a.replace("Life", "your Leg"))

your Leg is too short

In [18]:
a=["이관", "LIM",3]

print(a)

['이관', 'LIM', 3]

In [19]:
a={1:'a'}
a['name'] = '익명'

In [20]:
print(a)

{1: 'a', 'name': '익명'}

In [21]:
a[2] ='b'

In [22]:
print(a)

{1: 'a', 'name': '익명', 2: 'b'}

In [23]:
del a[2]
print(a)

{1: 'a', 'name': '익명'}

In [24]:
a

{1: 'a', 'name': '익명'}

In [25]:
print(a.keys())
print(a.values())
print(a.items())

for k in a.keys():
    print(k)

for v in a.values():
    print(v)    

for k, v in a.items():
    print("키는: " + str(k))
    print("벨류는: " + v)  

a.clear()
print(a)

dict_keys([1, 'name'])
dict_values(['a', '익명'])
dict_items([(1, 'a'), ('name', '익명')])
1
name
a
익명
키는: 1
벨류는: a
키는: name
벨류는: 익명
{}

In [26]:
s1 =set([1,2,3])
#s1 ={1,2,3}
print(s1)

{1, 2, 3}

In [27]:
l=[1,2,2,3,3]
newlist =list(set(l))
print(newlist)
print(type(newlist))

[1, 2, 3]
<class 'list'>

In [28]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print(s1&s2)
print(s1.intersection(s2))
print(s1|s2)
print(s1.union(s2))
print(s1-s2)
print(s1.difference(s2))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{1, 2, 3}

In [8]:
import pandas as pd

# Read the Excel files into DataFrames
file1 = pd.read_excel('23.6~10월 CP3 소형.xlsx')
file2 = pd.read_excel('중형선재.xlsx')

# Ensure that columns in both DataFrames match
if not file1.columns.equals(file2.columns):
    raise ValueError("Columns in file1 and file2 do not match.")

# Concatenate DataFrames vertically
concatenated_data = pd.concat([file1, file2], ignore_index=True)

# Save the concatenated data to a new Excel file
concatenated_data.to_excel('concatenated_file.xlsx', index=False)

d:\220413_문서중앙화_Backup\python_Study\study\lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)